@{
    ViewData["Title"] = "Главная";
}

<div class="row">
    <div class="side">
        Добро пожаловать в наш блог. Тут вы можете найти статьи для прочтения
        или добавить свои, предварительно зарегистрировавшись :) Удачного просмотра
    </div>


   @* <div class="main">
        <partial name="Register" />
        <partial name="Login" />
    </div>*@

</div>
